/* ------------------------------------------------------------- */
/* BOOTSTRAP START */

/* Her retter vi standard farverne i Bootstrap */
$theme-colors: (
        "primary": #003844,
        "secondary": #0f0,
        "danger": #ff4136,
        "success": #050,
        "info": #894,
        "warning": #822,
        "light": #ddd,
        "dark": #333
);

/* Her retter vi margin og padding (p-1, p-2, pb-1.... og m-1, m-2, mt-1 osv) */
$spacer: 100px;
$myStyles: "screen and (min-width: 320px)";
$tablet: "screen and (min-width: 768px)";
$computer: "screen and (min-width:1200px)";

body{
  background-color: black;
  .nav-link{
    font-size: 20px;
  }

  .hero img {
    width: 100%;
  }
  .big-banner {
    background-color: #ea2022;
    width: 100%;
    float: left;
  }
  .big-banner .banner-text {
    padding: 0;
  }
  .big-banner .banner-text h2 {
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    margin-top: 39px;
    margin-bottom: 41px;
    display: inline-block;
    position: relative;
  }
  .big-banner .banner-text h2:before {
    content: "";
    display: block;
    width: 128px;
    height: 32px;
    background: url(https://raw.githubusercontent.com/solodev/cta-with-css/master/image-2.png) no-repeat center center;
    position: absolute;
    top: 0;
    left: -158px;
  }
  .big-banner .banner-text h2:after {
    content: "";
    display: block;
    width: 128px;
    height: 32px;
    background: url(https://raw.githubusercontent.com/solodev/cta-with-css/master/image-3.png) no-repeat center center;
    position: absolute;
    top: 0;
    right: -158px;
  }
  .big-banner .banner-text h2 a {
    color: #fff;
  }

  .txt{
    font-family: "Arial Rounded MT Bold", fantasy;
  }

.fa-search{
  cursor: pointer;
}
.fa-shopping-basket{
  cursor: pointer;
}
}
@media #{$myStyles} {
  .logo{
    height: 50px;
    width: 100px;
  }
  .redirect{
    display: grid;
  }

  .underoverskrift{
    font-size: 20px;
  }


}